// Color
$mainblue: #003b95;
$lighter-blue: #006ce4;
$yellow: #ffb700;
$lighter-yellow: #febb02;
$green: #008234;
$lighter-green: #F1FEF6;
$white: #fff;
$blur-gray: #ccc;
$black: #000;
$color-hover: rgba(198, 190, 238, 0.1);
